:host {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.nav-item {
  cursor: pointer;
}

img {
  height: 30px;
}

.title {
  padding: 20px;
}

.navbar-brand {
  padding-left: 20px;
}

.navbar-collapse {
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
}

.active {
  font-weight: bold;
}