<div class="row graph">
  <div class="col-4">
    <div class="card graphTotal" (click)="renderChart('Total')">
      <div class="card-body">
        <h5 class="card-title graphTitle">Total Feedback</h5>
        <div class="row">
          <div class="col-6">
            <div class="row graphCount">
              {{totalData.length}}
            </div>
            <div class="row graphPercentage">
              13.8%
            </div>
          </div>
          <div class="col-6">
            <app-chart #chartTotal [chartData]="chartTotalData"></app-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card graphPositive" (click)="renderChart('Positive')">
      <div class="card-body">
        <h5 class="card-title graphTitle">Positive Feedback</h5>
        <div class="row">
          <div class="col-6">
            <div class="row graphCount">
              {{positiveData.length}}
            </div>
            <div class="row graphPercentage">
              13.8%
            </div>
          </div>
          <div class="col-6">
            <app-chart #chartPositive [chartData]="chartPositiveData"></app-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card graphNegative" (click)="renderChart('Negative')">
      <div class="card-body">
        <h5 class="card-title graphTitle">Negative Feedback</h5>
        <div class="row">
          <div class="col-6">
            <div class="row graphCount">
              {{negativeData.length}}
            </div>
            <div class="row graphPercentage">
              13.8%
            </div>
          </div>
          <div class="col-6">
            <app-chart #chartNegative [chartData]="chartNegativeData"></app-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{resultsTitle}} Feedback</h5>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Location</th>
                <th scope="col">Text</th>
                <th scope="col">Sentiment</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of results">
                <td>{{result.location}}</td>
                <td>{{result.text}}</td>
                <td><span class="badge badge-pill badge-{{result.sentiment|status}}">{{result.sentiment ? 'positive' : 'negative'}}</span></td>
                <td>{{result.date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Word Cloud</h5>
        <app-wordcloud #wordcloud [wordData]="wordCloudData" [height]="500"  [width]="300" [options]="wordCloudOptions"></app-wordcloud>
      </div>
    </div>
  </div>
</div>
