<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Feedback</h5>
        <div class="row">
          <div class="col-6">
            <div class="row">
              2453
            </div>
            <div class="row">
              13.8%
            </div>
          </div>
          <div class="col-6">
            <app-chart #chartTotal [chartData]="chartTotalData"></app-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Positive Feedback</h5>
        <div class="row">
          <div class="col-6">
            <div class="row">
              2453
            </div>
            <div class="row">
              13.8%
            </div>
          </div>
          <div class="col-6">
            <app-chart #chartPositive [chartData]="chartPositiveData"></app-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Negative Feedback</h5>
        <div class="row">
          <div class="col-6">
            <div class="row">
              2453
            </div>
            <div class="row">
              13.8%
            </div>
          </div>
          <div class="col-6">
            <app-chart #chartNegative [chartData]="chartNegativeData"></app-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Feedback</h5>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Word Cloud</h5>
      </div>
    </div>
  </div>
</div>
