<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Feedback</h5>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Positive Feedback</h5>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Negative Feedback</h5>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Feedback</h5>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Word Cloud</h5>
      </div>
    </div>
  </div>
</div>
