:host { width: 100%; }

.graphCount {
    font-weight: bold;
    font-size: 1.5em;
}

.graphTitle {
    font-size: 12px;
    color: #909090;
}

.specialCard {
    border: 5px solid transparent;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.graph .card {
    cursor: pointer;
}

.graph .card:hover {
    background-color: #eee;
}

.graphCount, .graphPercentage {
    margin-left: 4px;
}

.arrowUp {
    color: #3cc480;
}

.arrowDown {
    color: #ff4141;
}