// @import "./node_modules/bootstrap/scss/functions";
// @import "./node_modules/bootstrap/scss/variables";
// @import "./node_modules/bootstrap/scss/mixins";


$body-bg: #fafafa;
$success: #3cc480;
$danger: #ff4141;